*{
    margin: 0px;
    padding: 0px;
}

main{
    color: #EB9915;
    background-color: black;
}

.second-image{
    border-radius: 20px;
}

.Tarjetas{
    background-color: #EB9915;
    color: black;
}

.advertencia{
    border: solid 2px #EB9915;
    border-radius: 20px;
    padding: 10px;
}

footer{
    background-color: #8C969B;
}