*{
    margin: 0px;
    padding: 0px;
}

main{
    color: #EB9915;
    background-color: black;
}

.second-image{
    border-radius: 20px;
}

.autor{
    color:#a06a13;
}

.Tarjetas{
    background-color: #EB9915;
    color: black;
}



.advertencia{
    border: solid 2px #EB9915;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
}


footer{
    background-color: #191202;
    color: #EB9915;
}

.vid_youtube{
}